.article {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
    margin: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .article.selected {
    background-color: #e3f2fd; /* Fons destacat */
    border-color: #90caf9;
  } 
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .on-sale {
    color: green;
    font-weight: bold;
  }
  
  button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  